
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    border-bottom: 1px solid rgba(206, 204, 204, 0.829);
}

.title-logo,
.navigation {
    display: flex;
    align-items: center;
    gap: 1rem;
    &:hover{
       color:rgb(180, 27, 27);
    }
}
.nav-link:hover{
    color:red;
}