.product-details {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 2.5rem;
  
  .container {
    display: flex;
    align-items: flex-start;

    button{
      width: 70px;
      margin: 15px 10px 0 0;
      border: 1px solid rgba(0, 0, 0, 0.418);
      padding: .4em;
      border-radius: .5em;

      &:hover{
        background: rgba(128, 128, 128, 0.212);
        transition: 0.2s ease-in-out;
      }
    }
  }
    h2 {
      margin-bottom: 20px;
    }

    .detail-text {
      padding-bottom: 20px;
      border-bottom: 1px solid rgb(214, 214, 214);
    }

    input,
    textarea {
      width: 100%;
      padding: 10px;
      margin: 0px 10px 10px 0px;
      border-radius: .4em;
    }
  }
  .image {
    width: 501px;
    height:  100%;
    margin-bottom: 10px;
    margin-right: 50px;
    
    img {
      border-radius: 1em;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .price {
    margin-top: 10px;
  }